body {
    background-image: url('../images/index22.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container-lg {
    margin-inline: 400px;
    margin-top: 190px;
    position: fixed;
    width: 600px;

}

.font {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: rgb(7, 7, 7);
    font-weight: bold;
    text-align: center;
}

.button {
    margin-top: 50px;
    margin-bottom: 20px;
}
