body {
    font-family: sans-serif;
}

.container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.createRoomForm, .joinRoomForm {
    display: none;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

#chatArea {
    height: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: scroll;
}

.message {
    margin-bottom: 10px;
}

.message .username {
    font-weight: bold;
}


#sendBtn {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.search-bar {
    margin-bottom: 20px;
}

#searchInput {
    padding: 5px;
    border: 1px solid #ccc;
    width: 150px;
}

#searchBtn {
    padding: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}