<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat webapp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });
</script>
</head>
<body>
    <div class="container">
        <h1>Solomon abebaw, kidanekal kifle</h1>

        <div class="actions">
            <button id="createRoomBtn">Create Room</button>
            <button id="joinRoomBtn">Join Room</button>
        </div>

        <div class="createRoomForm" style="display: none;">
            <label for="roomName">Room Name</label>
            <input type="text" id="roomName">
            <label for="userName">Your Name:</label>
            <input type="text" id="'userName">
            <button id="createRoomSubmitBtn">Create Room</button>
        </div>

        <div class="joinRoomForm" style="display: none;">
            <label for="'roomCode">Room Code:</label>
            <input type="text" id="roomCode">
            <label for="userName">YOur Name:</label>
            <input type="text" id="userName">
            <button id="joinRoomSubmitBtn">Join Room</button>
        </div>

        <div id="chatArea">

        </div>

        <div class="conatiner">
            <div class="search-bar">
                <input type="text" id="searchInput" placeholder="Search by emai or username">
                <button id="searchBtn">Search</button>
            </div>
        </div>
    </div>
</body>
</html>