<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat webapp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
</head>
<body>
    <div class="signup-container">
        <form id="signupForm">
            <h2>Signup</h2>
            <label for="fullname">Full Name</label>
            <input type="text" name="fullname" placeholder="Enter your full name" required>

            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Enter your username" required>

            <label for="email">E-mail</label>
            <input type="email" name="email" placeholder="Enter your email" required>

            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Enter your password" required>

            <button type="button" >Sign Up</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>